<h1>The Basics</h1>
<br/>

<h3>Bog Standard To Do</h3>

<div class="input_elements">
  <label for="to_do_item">Enter task:</label>
  <input type="text" id="to_do_item" />
  <input type="button" id="add_to_do" value="Add to list..." />
<br />
<ul id="to_do_list"></ul>
</div>
<br />
<input type="button" id="remove_all" value="Delete all tasks!" />
<h4>Completed Tasks</h4>
<ul id="finished_list"></ul>